

@media screen and (min-width:1100px)
{
	
.banner .item img {
    width: 100%;
    height: 29.6875VW;
}
}

@media screen and (max-width: 1023px)
{
	.plant_img {
    height: auto;
    }
    .plant_box {
	    height: auto;
	    padding: 10px;
	    min-height: 205px;
	}
	.plant_box h4 {
    font-size: 16px;
    }
    h1.heading::after {
    height: 1px;
    width: 60px;
	}

}
@media screen and (max-width: 767px)
{
	    .plant_box {
	    padding: 1px;
		    min-height: 180px;
		}
	p {
    font-size: 14px;
    line-height: 20px;
	}
	.plant_box h4 {
   
    margin-top: 10px;
    margin-bottom: 10px;
}
	.inner_right ul li  select {
    border: 1px solid #ddd;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
    margin-top: -1px;
    width: 80px;
    background: #eee;
    color: #000;
}
.cart_ul ul li a .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 6px;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #26ad4f;
    border-radius: 100%;
    top: -5px;
    right: -10px;
}
.footer_logo {
    float: left;
    width: 100%;
    text-align: center;
}



.footer p {
    color: #d1d1d1;
    display: none;
}

    .navigation li ul li a {
        border: none;
    font-size: 11px;
    padding: 5px 0px;
    }
	body {
    margin: 0px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    }
.top_sec {
    padding: 7px 0px;
    display: none;
}
	.container {
	    width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.top_left ul li
	{
		float: left;
		width: 100%;
		line-height:16px;
	}
	.top_left {
    float: left;
    width: 60%;
	}
	.top_left ul li a
	{
    	font-size: 12px;
	}
	img.locate {
    width: auto;
    margin-top: 0;
    margin-right: 0;
	}
	img.arrow_img {
	    width: auto;
	    margin-left: auto;
	}
	.sticky .logo img , .logo img {
    width: 110px;
	}
	section.header.sticky , .header {
	    padding: 10px 0px;
		position:relative;
	}
	
	.search_sec input[type="text"] {
    width: 200px;
    height: 30px;
    font-size: 11px;
    margin-top: 0;
    border-radius: 5px;
    padding-left: 10px;
	}
	.cart_ul ul li {
    float: left;
    margin-right: 10px;
	}
	.top_right .dropdown-content
	{
		width: 130px;
	}
	.search_sec input[type="submit"] {
    width: 27px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
	}
	.cart_ul ul li img.cart_img , .cart_ul ul li img.login_img {
    width: auto;
	}
	.logo {
	    float: left;
	    width: auto;
	    text-align: center;
	    margin-bottom: 0;
	}
	.header_right {
    float: right;
    width: auto;
    margin-top: 3px;
}
.navigation ul li.sub_menu img
{
	display:block;
	float:right;
}
/* .navigation ul li.sub_menu a::after
{
	background-image:none;
} */
/* .navigation li ul {
    display: none!important;
} */
.navigation ul li:hover {
    background: transparent;
    color: #000!important;
}
.navigation ul li:hover a {
    color: #000;
}
.navigation ul li.sub_menu:hover a::after {
    background-image: url(../images/arrow_down.png);
}
	.box {
    height: 150px;
    width: 50%;
    border-bottom: 1px solid #d2d2d2;
	}
	.prdct_img img {
	    width: auto;
	}
	.box_inner h4 {
    font-size: 16px;
    }
    .adds_box {
	    margin-bottom: 10px;
	}
	h1.heading {
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
   	}
	h1.heading::after {
	    height: 1px;
	    width: 50px;
	}
	.add_new_sec ul li
	{
		width: 100%;
		margin: 0px;
		margin-bottom: 10px;
	}
/* 	.add_new_sec ul li:last-child
	{
		margin-bottom: 0px;
	} */
.flower_box {
    width: 48%;
    border-radius: 4px;
    margin-bottom: 0px;
    margin: 1%;
    padding: 0;
    border: 1px solid #e5e5e5;
}
	.cake_img.flower_imgs
	{
		height: auto;
	}
	.flower_box h3 {
	    font-size: 12px;
	    height: auto;
	    line-height: 20px;
	    float: left;
	    width: 100%;
	    /* border-top:0; */
	    padding: 10px 0px;
	}
	.gift_text h4 {
    font-size: 18px;
    margin-bottom: 2px;
	}
	.gift_box {
	    width: 100%;
	    border-radius: 5px;
	    padding: 10px;
	    height: auto;
	    min-height: 130px;
	    margin-bottom: 15px;
	    float: left;
	}
	.top_right {
	    margin-top: 5px;
	}
	.cake_img
	{
		height: auto;
		/* padding: 20px 0px; */
		padding: ]0px 0px;
	}
	.gift_text span {
	    font-size: 14px;
	    margin-bottom: 5px;
	}
	a.gift_btn {
    font-size: 12px;
    padding: 0px 8px;
    border-radius: 5px;
    height: 30px;
    line-height: 29px;
	}
	.three_box , .pgifts
	{
		padding: 0px;
	}
	 .pgifts
	 {
		 width:99.5%;
	 }
	.footer_logo img {
		width: 200px;
	}
	.footer_ul {
	    width: 100%;
	    margin-top: 15px;
	}
	.footer h5 {
	    font-size: 14px;
	    margin-bottom: 10px;
	}
	.footer_logo {
	    margin-bottom: 15px;
	}
	.footer_last {
	    width: 50%;
	    margin-top: 15px;
	}
.footer_ul ul li {
    line-height: 18px;
    width: auto;
    margin-right: 10px;
}
.footer_last {
    width: 100%;
    margin-top: 15px;
}
.cake_img img {
    /* max-width: 50%; */
    max-width: 100%;
}
.inner_breadcums ul li, .breadcrumb li {
    font-size:13px;
    padding-right: 15px;
}
.inner_left ul li a::after, .breadcrumb li a::after {
    right: -12px;
}
.search_sec {
    display: none;
}
	.footer_ul ul li a {
	    font-size: 11px;
	}
	.news_letter input[type="email"] {
	    width: 70%;
	    font-size: 14px;
	    height: 25px;
	    border-radius: 4px;
	    padding-left: 10px;
	    font-weight: 400;
	    margin-right: 5px;
	}
	.news_letter input[type="submit"] {
	    width: 25%;
	    font-size: 12px;
	    height: 25px;
	    float: left;
	    border-radius: 4px;
	    font-weight: 400;
	}
	.news_letter {
	    margin-bottom: 20px;
	}
	.social_icon li img {
	    /* width: 20px; */
	}
	.social_icon
	{text-align:center;}
	.social_icon li {
	    margin-right: 10px;
		float:none;
		display:inline-block;
	}
	.footer_ul ul {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
	}
	.copyright {
	    padding: 10px 0px;
	    font-size: 12px;
	}
	.copy_right {
		text-align: center;
	}
	.slider_text h1 {
	    font-size: 22px;
	    font-weight: 600;
	    letter-spacing: 2px;
	    line-height: 20px;
	    margin-bottom: 5px;
	}
	.slider_text p {
	    font-size: 10px;
	    margin-bottom: 5px;
	    line-height: 13px;
	}
	.slider_text {
	    float: right;
	    margin-top: 0;
	    /* width: 57%; */
	    width: 70%;
	}
	.slider_text span {
    font-size: 12px;
    }
    .slider_text a.btn_banner {
	    font-size: 13px;
	    width: 135px;
	    height: 26px;
	    font-weight: 400;
	    line-height: 26px;
	    border-radius: 4px;
	}
	
	.slider_text p br
	{
		display: none;
	}
	.navigation .nav_bar
	{
		display: none;
	}
	.toggle
	{
		display: block;
		font-size: 20px;
	}
	section.navigation.sticky , .navigation {
	    padding: 7px 0px;
		position:relative;
		top:inherit;
	}
	.navigation ul {
	    float: left;
	    width: 100%;
	}
	.navigation ul li.sub_menu {
	    padding: 5px!important;
	}
	.navigation ul li {
	    border-bottom: 1px solid #e8e7e7;
	    width: 100%;
	    padding: 5px!important;
	}
	.navigation ul li:last-child
	{
		border:none;
	}
	.navigation ul li a {
	    letter-spacing: 1px;
	    font-size: 12px;
	    height: auto;
	    line-height: 24px;
	    width: auto;
	}
    .nav_bar {
    float: left;
    width: 100%;
}
	.navigation ul li.sub_menu a::after {
	    background-size: inherit;
	    width: 13px;
	    height: 10px;
	    top: 7px;
	    right: 0px;
	}

	.navigation li ul {
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    position: relative;
    background: transparent;
    }
    .navigation li ul li
    {
    	height: auto;
    	border-color: #e8e7e7;

    }
     .navigation li ul li
     {
     	font-size: 11px;
     }


.inner_banner
{
	background: url('../images/inner_banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;
	background-position: right;
	display:none;
}
.inner_banner img 
{
	display: none;
}
.banner_text_inner {
    float: left;
    width: 80%;
}
.inner_banner_text h3 
{
    font-size:20px;;
    margin-bottom: 5px;
}
.inner_banner_text
{
	position: relative;
}
.inner_banner_text p
{
    color: #000000;
    font-size: 10px;
    line-height: 14px;
}
.inner_breadcums ul li {
    font-size: 8px;
    padding-right: 12px;
    letter-spacing: 0px;
}
.inner_left ul li a::after
{
	right: -10px;
}
.product_sidebar_inner h3 {
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 10px;
}
.product_sidebar_inner ul li a {
    font-size: 13px;
    background-size: inherit;
}
.wk_prdct_img {
    height: auto;
}
.wk_prdct_text h3 {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: initial;
        height: 35px;
	padding:0px 10px;
}
.wk_prdct_text h5
{
	font-size: 15px;	
}
.wk_prdct_inner
{
	margin-bottom:3px;
	border:1px solid #e5e5e5;
	border-radius: 5px;
}
.product_sidebar_inner
{
	border:1px solid #e5e5e5;
	border-radius: 5px;
	padding:10px;
	margin-bottom:15px;
}
.wk_prdct_text
{
	padding: 10px 0px;
}
.hover_ul {
	top: -40px;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    visibility: visible;
}
.hover_ul ul li 
{
   width: 30px;
   height: 30px;
   border-radius: 4px;
   box-shadow: 2px 0px 6px rgba(0,0,0,0.10);
   margin-right:7px;
}

.hover_ul ul li img {
    width: auto;
}

.wk_prdct_img {
    max-height: 200px;
}
.wk_prdct_img
{
	display:inline-block;
}
.product_sidebar_inner ul li span img 
{
    width: auto;
}
.product_sidebar_inner ul li span
{
	width: 20px;
}
.product_sidebar_inner ul li ul li a {
    font-size: 10px;
}
.product_name h2 {
    font-size: 16px;
}
.product_price h5 {
    font-size: 14px;
}
.product_price h5 svg {
    font-size: 10px;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
}
.star_ul ul li {
    margin-right: 2px;
    font-size: 10px;
}
.reviews {
    font-size: 10px;
}
.off {
    font-size: 12px;
}
.delivery_status ul li img {
    margin-right: 2px;
    height: 15px;
}
.delivery_status ul li strong {
    font-size: 9px;
}
.delivery_status ul li:last-child img {
    height: 15px;
}

.product_price h5 span::after {
    height: 1px;
    top: 6px;
}
.form_sec input[type="text"] {
    font-size: 12px;
    float: left;
    font-style: italic;
    color: #cccccc;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    box-shadow: none;
    padding-left: 10px;
    height: 30px;
}
.form_sec input#datepicker {
    padding-left: 25px;
    background-size: 20px;
}
.example_sec strong {
    font-size: 12px;
}
.btn_sec a {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    background: #4a4a4a;
    position: relative;
    display: inline-block;
    font-size: 14px;
    z-index: 1;
    color: #fff;
    letter-spacing: 0px;
    border-radius: 4px;
    margin-right: 10px;
    min-width: auto;
    text-align: center;
}
.btn_sec a.cart_btn img {
    width: auto;
}

.btn_sec a img {
    margin-right: 5px;
}
.btn_sec a.wish_btn img {
    width: auto;
}
h2.heading_new {
    border-bottom: 1px solid #dddddd;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.customer_review {
    margin-top: 30px;
}
.star_txt {
    font-size: 14px;
}
.prdct_inner_text h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
.prdct_inner_text ul li {
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
}
.prdct_inner_text ul li::after {
    top: 0.390625VW;
    left: 0px;
    background-size: auto;
    width: 20px;
    height: 20px;
}
.prdct_inner_text ul {
    margin-bottom: 10px;
}

.prdct_inner_text p {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 18px;
}
.star_new .star_ul ul li {
    margin-right: 2px;
    font-size: 7px;
}
.star_new .reviews {
    font-size: 10px;
}
.star_new .star_ul
{
	margin-bottom: 7px;
}
.client_name h5 {
    font-size: 14px;
    margin-top: 5px;
}
.client_img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border: 5px solid #f0f0f0;
}
.client_name span {
    font-size: 10px;
}
.client_date {
    font-size: 8px;
    margin-top: 4px;
}
.client_name .star_ul ul li {
    margin-right: 2px;
    font-size: 11px;
}
.review_text p {
    font-size: 12px;
    line-height: 16px;
}
.review_text {
    margin-bottom: 20px;
}
.review_box {;
    padding: 10px;
    margin-top: 15px;
 }
 .review_text::after {
    width: 70px;
    height: 91px;
}
.owl-theme .owl-controls .owl-page span {
    width: 8px;
    height: 8px;
}
.owl-theme .owl-controls {
    margin-bottom: 15px;
}
.delivery_status ul li {
    line-height: 15px;
    margin-bottom: 6px;
}
.prdct_slider .owl-theme .owl-controls .owl-buttons div , 
.plant_sec .owl-theme .owl-controls .owl-buttons div , 
.banner .owl-theme .owl-controls .owl-buttons div{
    height: 25px;
    width: 25px;
    padding: 0px 5px;
}
.prdct_slider .item
{
	height: auto;
}
.prdct_slider .owl-theme .owl-controls .owl-buttons div img ,
 .plant_sec .owl-theme .owl-controls .owl-buttons div img ,
 .banner .owl-theme .owl-controls .owl-buttons div img
 {
    width: auto;
}
.navigation ul li:hover ul li {
    height: auto;
}
.profile_form input, .profile_form select {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 12px;
}
.profile_form label {
    font-size: 12px;
    margin-bottom: 10px;
}
.profile_form select {
    width: 30%!important;
}
.profile_form .select_option_country select
{
	width: 100%!important;
}
.form_btns a {
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 15px;
}
.profile_img_box_inner {
    width: 80px;
    height: 80px;
}

.border-img {
    right: -6px;
    width: 30px;
    height: 30px;
}
.border-img img {
    width: 16px;
}
.profile_img_box_inner img
{
	height: 100%;
}
.profile_banner
{
	margin-bottom: 20px;
}
.profile_page {
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    margin-top: 15px;
}
.profile_input {
    min-height: auto;
    margin-bottom: 10px;
}
.checkmark {
    height: 15px;
    border-radius: 4px;
    width: 15px;
    border: 1px solid #e2e2e2;
}
.profile_form .wk_radio {
    padding-left: 20px;
    margin-right: 10px;
}
.wk_radio .checkmark:after {
    left: 4px;
    width: 5px;
    height: 9px;
}
.profile_form {
    padding: 0px 15px;
}
.cart_left {
    width: 100%;
}
.cart_product {
    margin-bottom: 15px;
    border: 1px solid #f2f1f1;
}
.cart_img_sec {
    width: 35%;
    /* padding: 0px 10px; */
    height: 100%;
    min-height: 100px;
}
.cart_text {
    float: left;
    width: 65%;
    padding: 5px 10px 0px;
}
.cart_price ul li {
    float: left;
    width: 50%;
}
.cart_price {
    float: left;
    width: 65%;
    padding: 0px 10px;
}
.cart_price ul li {
    font-size: 12px;
	width:100%;
    text-align: left;
}
.price_text {
    font-size: 18px;
    float: left;
    margin-bottom: 0;
}
.cart_product h4 {
    font-size: 14px;
    margin-bottom: 0px;
}
.cart_product span {
    font-size: 11px;
}
.cart_price ul li svg {
    font-size: 13px;
    margin-right: 2px;
    margin-top: 4px;
}
.product_quantity .input-group-addon {
    border-radius: 4px!important;
    padding: 5px;
    height: auto!important;
    background: transparent;
    border: 1px solid #eee;
}
.product_quantity .form-group {
    width: 70px;
    float: left;
    margin-bottom: 0;
}
.product_quantity input {
    height: 27px;
    font-size: 14px;
}
.cart_remove , .cart_wishlist
{
	font-size: 0px;
}
.coupon_code {
    padding: 10px;
    font-size: 13px;
    margin-bottom: 20px;
}
.cart_right {
    width: 100%;
}
.coupon_input input[type="text"] {
    font-size: 13px;
    height: 35px;
    padding-left: 10px;
}
.coupon_input input[type="submit"] {
    height: 35px;
    font-size: 14px;
    width: 100px;
}
.total ul li {
    font-size: 13px;
    margin-bottom: 5px;
}
.total input {
    height: 35px;
    font-size: 13px;
}
.total ul li:last-child {
    border-top: 1px solid #727272;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}
.total ul li strong svg {
    font-size: 11px;
    display: inline-block;
    margin-right: 2px;
}
.inner_sec {
    padding: 30px 0px;
}

.coupon_input {
    margin-bottom: 20px;
}
.cart_price ul li.remove_btn , .cart_price ul li.cart_wish
{
	width: auto;
	margin-right:5px;
	margin-top: 10px;
}
.product_quantity {
    float: right;
}
.login_heading {
    font-size: 16px;
    margin-bottom: 10px;
}
.cart_remove {
    margin-bottom: 0;
}
.crdt.checkout_box h3 {
    margin-bottom: 10px;
}
.login_left span
{
    font-size: 14px;
    margin: 0px;
}
.down_img img {
    width: 20px;
    margin-top: 10px;
}
.registor_page .login_left_inner {
    min-height: auto;
}
a.btn_new  , .login_right button{
    font-size: 15px;
    width: 125px;
    line-height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.login_left {
    padding: 30px;
}
.login_heading b {
    font-size: 25px;
}
.log_heading {
    font-size: 18px;
    margin-bottom: 15px;
}
.input-group-addon {
    width: auto;
}
.login_right .input-group-addon img {
    width: auto;
    margin-top: 0;
}
.login_right input {
    font-size: 14px;
    height: auto;
    line-height: 20px;
    padding: 2px 10px 4px 26px !important;
}
.login_right .input-group-addon {
    line-height: 1;
    padding: 0px 0px 0px 0px;
    width: 20px;
    border-bottom: 1px solid #fff;
}
.login_right {
    padding: 25px;
}
.login_right .form-group.padd img {
    width: auto;
}
.login_right .form-group {
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}
.or {
    font-size: 20px;
    margin: 10px 0px;
}
.social_media i {
    font-size: 13px;
}
.social_media ul li img {
    width: auto;
}
.login_right .checkbox label {
    padding-left: 10px;
    font-size: 12px;
}
.forget_pass {
    margin-top: 0px;
    font-size: 10px;
}
.login_right .checkmark {
    border: 1px solid #eee;
    height: 20px;
    left: -18px;
    position: absolute;
    top: 0;
    width: 20px;
}
.login_right .checkmark::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: white;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 2px 0;
    height: 16px;
    left: 5px;
    top: -1px;
    transform: rotate(45deg);
    width: 8px;
}
.navigation ul li.sub_menu a::after
{
	background:none!important;
}
.navigation ul li.sub_menu img {
    margin-left: 0;
    padding-top: 7px;
}
.navigation ul li:hover .nav_hover {
    display: none;
}
.nav_hover {
    position: relative;
    left: auto;
    top: auto;
    float: left;
    background: transparent;
    width: 100%;
}
.navigation ul li .nav_hover_inner {
    display: inline-block;
    width: 100%;
    float: left;
    min-width: 100%;
}
.navigation ul li .nav_hover_inner ul
{
    display: none;
	margin-bottom:5px;
    background: #fff;
}
.navigation ul li .nav_hover_inner h4 {
    font-size: 12px;
    color: #aaa;
    font-weight: 400;
    margin: 0;
    border-bottom: 1px solid #e8e7e7;
    letter-spacing: 0px;
	padding:5px 0px;
}
.navigation ul li .nav_hover_inner ul li 
{
    padding: 0px 5px!important;
}
.navigation ul li.sub_menu h4 img {
    padding-top: 0px;
    padding-right: 5px;
}
.navigation ul li .nav_hover_inner:last-child h4
{
    border:none;
}
.navigation ul li ul a
{
	color:#777!important;
}



.contact_heading {
    margin-bottom: 30px;
}
.contact_page h1   {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact_heading p {
    max-width: inherit;
	float:left;
	padding:0px 15px;
	width:100%;
    font-size: 14px;
    line-height: 20px;
}.contact_heading {
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer {
    padding: 10px 0px;
}
.contact_page_form {
    border-radius: 5px;
    padding:30px;
    box-shadow: 0px 0px 29px rgba(0,0,0,0.07);
}
.contact_map iframe {
    height: auto;
}
.contact_page_form form {
    margin-top: 20px;
}
.contact_page_form form label {
    font-size: 16px;
}
.contact_page_form form  input  , .contact_page_form form  textarea{
    font-size: 15px;
    height: 35px;
    border-bottom: 1px solid rgba(211,211,211, 0.5);
}
.input_box {
    margin-bottom: 20px;
}
.contact_page_form form textarea {
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid rgba(211,211,211, 0.5);
}
.contact_page_form form input[type="submit"] {
    font-size: 14px;
    padding: 0px 25px;
    border-radius: 5px!important;
    height: 35px;
    line-height: 29px;
}
.contact_info {
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 29px rgba(0,0,0,0.07);
}
.contact_info h5 {
    margin: 10px 0px;
    font-size: 20px;
}
.info_outer p {
    font-size: 14px;
}
.info_outer ul li {
    margin-right: 10px;
}
.info_outer {
    margin-bottom: 20px;
}
.info_outer ul li img
{
	width:auto;
}
.icon_img img
{
	    width: 35px;
}
span.help-block {
    margin-top: 3px;
    padding-left: 40px;
}


.team_members
{
    padding: 30px 0px;
}
.team_members h1 
{
	font-size:24px;
	margin-bottom:20px;
}
.hover_ul_new ul li img {
    width: auto;
}
.team_sec {
    box-shadow: 0px 0px 29px rgba(0,0,0,0.07);
    border-radius: 4px;
	margin-bottom:20px;
}
.member_text {
    padding: 15px 20px;
    border-bottom: 1px solid #d2d2d2;
}
.member_text h5 {
    font-size: 18px;
}
.member_text span {
    font-size: 14px;
    margin-top: 3px;
}
.info_ul {
    padding: 15px 20px;
}
.info_ul li
{
    margin-bottom: 5px;
}
.info_ul li a 
{
    font-size: 14px;
}
.info_ul li img 
{
    margin-right: 5px;
	width:auto;
}
.hover_ul_new ul li 
{
    margin-right: 5px;
}
.hover_ul_new ul li:last-child
{
    margin: 0px;
}
.hover_ul_new ul li 
{
	width:auto;
}
.about_text {
    margin-top: 20px;
}
.about_sec h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.wh_vision, .wh_mission {
    padding: 20px;
    min-height: auto;
}
.inner_breadcums {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.check_out_ul h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.check_out_ul ul li {
    margin-right: 20px;
}
.check_out_ul ul li::before {
    height: 1px;
    width: 65px;
    top: 25px;
}
.checkout_img {
    width: 40px;
    height: 40px;
    border: 1px solid #e4e4e4;
}
.checkout_img img {
    margin: 0px auto;
    width: 20px;
}
.check_out_ul ul li label {
    display:none;
}
.check_out_ul {
    margin-bottom: 15px;
}
.checkout_box h3 {
    font-size: 15px;
}
.check_input label {
    font-size: 13px;
}
.check_input input, .check_input select {
    border-bottom: 1px solid #d3d3d3!important;
    height: 30px;
    font-size: 13px;
}
.checkout_box {
    padding: 20px 15px 25px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 29px rgba(0,0,0,0.07);
}
.checkout_btn button, .proceed_btn {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #00a639;
    margin-right: 10px;
    padding: 0px 12px;
	width:auto;
}
.checkout_btn {
    margin-top: 20px;
}
.label1 {
    padding-left: 15px;
    margin-bottom: 5px;
}
.label1 .checkmark {
    top: 4px;
    left: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #e4e4e4;
}
.label1 .checkmark:after {
    top: 2px;
    left: 2px;
    width: 4px;
    height: 4px;
}
.checkout_box .table {
    margin-top: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
    border-top: 1px solid #ddd;
}
.checkout_box .table td {
    font-size: 10px;
}
.checkout_box .subtotal label.label1 {
    font-size: 12px;
}
.checkout_box .table thead {
    font-size: 10px;
}
table .label1 .checkmark {
    top: 3px;
}
.crdt label.label1 {
    font-size: 13px;
}
.checkout_box .table thead th:nth-child(2), .checkout_box .table thead th:nth-child(4), .checkout_box .table thead th:nth-child(3) {
    width: 22%;
}
.card_box {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.crdt label.label1 {
    font-size: 11px;
}
.cart_price ul li.update_cart {
    width: auto;
    margin-right: 10px;
    margin-top: 10px;
}
.g-recaptcha {
    margin-bottom: 20px;
}
.alert {
    font-size: 14px;
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.error_img img {
    width: 240px;
    margin-bottom: 10px;
}
.error_text h4 , .product_error h4{
    font-size: 22px;
	margin-bottom:5px;
}
.error_text span , .product_error span{
    font-size: 12px;
}
section.inner_sec.error_page {
    padding: 30px 0px;
}
.product_error_img img
{	
	width: auto;
}
.pagination {
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}
.product_sidebar_inner ul li .badge {
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 10px;
}
.profile_page .checkmark
{
	width:15px;
	height:15px;
}
.wish {
    margin-top: 20px;
}
.wish h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.wishlist_sec {
    height: auto;
	margin-bottom: 20px;
	display:inline-block;
	display:-webkit-inline-block;
	display:-moz-inline-block;
}
.wishlist_img img {
    margin: 0px auto;
    min-width: auto;
}
.wishlist_img {
    width: 100px;
    height: auto;
}
.wish_list_text {
    width: 64%;
    font-size: 12px;
    padding-left: 10px;
}
.wish_list_price {
    width: 64%;
    font-size: 14px;
    padding-left: 10px;
}
.wish_button {
    float: left;
    width: 64%;
	margin-top:5px;
    padding-left: 10px;
}
.wish_button ul {
    text-align: left;
}
.wish_button ul li button {
    width: 25px;
    border-radius: 4px;
	height: 25px;
}

.wish_button ul li img {
    width: 18px;
}
.wish .table th {
    font-size: 12px;
    padding: 5px 10px!important;
}
.wish .table tbody td {
    font-size: 10px;
    padding: 5px 10px!important;
}
.wish a.eye_btn {
    width: 25px;
    height: 20px;
    border-radius: 4px;
}
.wish a.eye_btn img {
    width: 15px;
}
.wish .table {
    border-radius: 4px!important;
    margin-bottom: 0px;
    border: 1px solid #e0dddd!important;
}
.wish .table-responsive {
    border-radius: 4px!important;
    border: none!important;
}
.wish .table.table_new tbody tr td:last-child, .wish .table.table_new tbody tr td {
    padding: 5px 10px!important;
}
table.table.table_new {
    margin-bottom: 10px;
}
.order_id {
    font-size: 15px;
    margin-bottom: 10px!important;
}
.detail_box_inner {
    padding: 15px;
    border-radius: 5px;
    min-height: auto;
    margin-bottom: 20px;
}
.thankyou_sec
{
	padding:0px;
}
.thank_you_img img {
    width: 150px;
}
.thank_you_img {
    margin-bottom: 20px;
}
.thank_you_text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.thank_you_text h5 {
    font-size: 15px;
    margin-bottom: 10px;
}
.order_id_sec {
    font-size: 14px;
    margin-bottom: 10px;
}
a.back_to_home {
    font-size: 14px;
    padding: 8px 13px;
    border-radius: 4px;
}
.box:last-child {
    border: none;
    width: 100%;
}
.inner_right
{
	display:none;
}
.prdct_box {
    width: 50%;
}
.prdct_box:nth-child(2n+1)
{
	clear:both;
}
.banner .owl-theme .owl-controls .owl-buttons div.owl-prev , .banner .owl-theme .owl-controls .owl-buttons div.owl-next
{
	top:35%;
}
.product_name {
    margin-top: 20px;
}
.top_prdct_inner
{
	margin-bottom:9px;
}
.top_prdct_inner {
    border-radius: 3px;
}
section.prdct_new {
    padding-top: 5px;
}
.top_prdct_inner a {
    font-size: 14px;
}
.top_prdct_inner a span {
    float: left;
    width: 100%;
}
.top_prdct_inner a::before {
    border: 0.5px solid #fff;
	border-radius:2px;
}
.top_prdct_inner:hover a::before
{
	left: 10px;
	opacity:100;
    right: 10px;
    top: 10px;
    bottom:10px;
}
.top_prdct {
    width: 50%;
}
.flower_box:nth-child(2n+1)
{
   clear:both;	
}
.cart_ul ul li img.login_img
{
	margin-top:5px;
}
.product_sidebar_inner ul li ul li {
    padding: 3px 10px 3px 25px;
}
.plant_sec .owl-theme .owl-controls .owl-buttons div.owl-next , .plant_sec .owl-theme .owl-controls .owl-buttons div.owl-prev
{
	top:35%;
}
.plant_box h4 {
    font-size: 12px;
}
.team_box {
    float: left;
    width: 50%;
}
.copy_right , .purple_h1
{
	font-size:12px;
}
.design_by {
    text-align: center;
    font-size: 11px;
}
}


@media screen and (max-width: 470px)
{
	.team_box {
    float: left;
    width: 100%;
}
}
@media screen and (max-width: 360px)
{
	.slider_text h1 {
    font-size: 19px; 
    }
    .slider_text span {
	    font-size: 10px;
	}
	.slider_text p {
	    font-size: 9px;
	}
	.slider_text a.btn_banner {
    font-size: 11px;
    width: 125px;
    height: 23px;
    font-weight: 400;
    line-height: 23px;
    }
}